* {
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body {
    background-image: url(./images/assorted-stills-from-grocery-store-ads-late-60s-early-70s-v0-p758e5abjcxd1.jpg);
    background-size: cover;
    min-height: 100vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap : 1.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

section {
    padding: 80px;
    color:white;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(20px);
    border-radius: 1.5rem;
    display:flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    gap : 30px; 
}

p {
    text-align: center;
}