.jour {
    background-color : lightyellow;
    color: tomato;
}

.nuit {
    background-color: darkblue;
    color: lightgoldenrodyellow;
}

.fond {
    background-color: beige;
    width: 6020px;
    height: 1rem;
}

